
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}



.playwrite{
  font-family: "Playwrite DK Loopet", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.body-class{

     max-width: 1440px;
     background-color: #040404;

}
/*Header Section*/

/*navbar section*/
.nav-display{
   
    display: flex;
    justify-content: space-around;
    background-color: black;
    align-items: center;


}
.text01{

    font-style: italic;
    font-size: 4rem;
    font-weight: bolder;
    color: rgba(230, 83, 60, 1);

}
.menu-icon{
    
    width: 26px;
    height: 26px;
    display: none;
}




.border01{

    border: 0.1px solid;
    border-color: rgba(121, 119, 119, 0.175);
    display: flex;
    border-radius: 36px;
    align-items: center;
    margin-top: 10px;
    max-height: 40px;
    max-width: 500px;
    justify-content: space-around;


}
    
    
.items{

    
    font-size: 10px;
    font-weight: 600;
    padding: 5px 5px;
    color: white;
    font-weight: 400;
    margin: 28px;

}
.home-text{

    background-color: rgba(230, 83, 60, 1);
    border-style: none;
    font-weight: 600;
    border-radius: 30px;
    padding: 5px 15px;
}

.navbar-bg,.banner{

   max-width: 1440px;
   margin: 0 auto;


}
/*banner Section*/
.banner{

    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to bottom, #040404, #383737, black);
    align-items: center;
    margin-top: -120px;
}

.banner-title{

   font-size: 4.5rem;
   font-weight: 900;
   color: white;

}
.banner-description{
 
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;

}

.btn-01{

      font-family: inherit;
      font-weight: 700;
      color: white;
      padding: 10px 40px;
      border-style: none;
      border-radius: 40px;
      background-color: coral;
    


}
.btn-02{

    font-family: inherit;
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    border-color: azure;
    border-radius: 35px;
    background-color: rgb(3, 3, 3);
    margin-left: 10px;
    margin-top: 5px;



}
.content-details{

    max-width: 150px;
    
    background-color: #807d7d59;
    border-radius: 10px;
    padding: 0.5px 10px;
    margin-left: 10px;

    
}
.head01{

    font-weight: 800;
    font-size: 30px;
    color: white;

}

.head-description{
 
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: -25px;
    

}
.head012{

    font-weight: 800;
    font-size: 25px;
    color: white;
}

.head-description12{
 
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
    
    margin-top: -20px;

}
.details-container{

  position: relative;

}
.details-01{
         
    top: 250px;
    left: 200px;
    z-index: 1;
    width: 100%;
}
.details-02{

    top: -150px;
    right: 40px;   
    width: 100%; 
    display: flex;
    align-items: center;
}
.icon{

    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 15px;
}

.image-banner{
   width: 100%;


}



/*Responsive Header*/

@media screen and (max-width: 576px){

        .banner, .img-class, .section-02,.section-o4-bg,.footer-class,.footer-bg{
            flex-direction: column;
            justify-content: left;
        }
        .banner{

            margin-top: 50px;
        }
        .items{

            display: none;
            
        }
        .menu-icon{
            display: flex;
            
        }
        .nav-display{
            display: flex;
            justify-content: space-between;
        }
       
        .footer-div-01{
           
            margin-left: 30px;
            
        }
        .footer-div-02{ 

          text-align: center;

        }
        .section-02{

            align-items: center;
            vertical-align: middle;
            margin: 20px 20px;
        }
   
        .btn-04{
            width: 285px;
            margin-left: 13px;
    
        }
        .flex-container{

           
            flex-direction: column;
            align-items: center;
        }
        .image-run{

            object-fit: contain;
        }
       
         
        
       
}


/*Main section*/

.main-bg{

  max-width: 1440px;
  background-color: black;
  vertical-align: middle;
}
.section-01{
   text-align: center;

}
.mini-heads{
      
    font-weight: 800;
    font-size: 18px;
    color: azure;

}
.rounded-circle {
    width: 180px; 
    height: 180px;
    border-radius: 50%;
}
.img-class{

    display: flex;
    justify-content: space-around;

}
/*Section-02*/
.section-02-bg{

    max-width: 1440px;
}
.section-02{

    
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin-top: 30px 20px;
    text-align: left;
    padding: 10px 10px;
    background-color: rgb(37, 37, 37);
    border-radius: 16px;
}
.head03{

    font-weight: 800;
    font-size: 40px;
    color: white;
}
.btn-04{

    font-family: inherit;
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    border-style: none;
    border-radius: 40px;
    background-color: coral;
}
.image-run{
    margin: 10px;
    
    max-width: 287px;
    height: 250px;
    border-style: none;
    border-radius: 16px;
    object-fit: none;
    object-position: 66% 30%;

    

}
.section-03{

    display: flex;
    justify-content: center;
    margin: 30px;

}
.section-o4-bg{

    background-color: rgba(34, 34, 34, 1);
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.section-o4-bg2{

    background-color: rgba(34, 34, 34, 1);
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    margin-bottom: 30px;
    align-items: center;
}

.scn-4-head{
  margin: 30px;
  font-weight: 800;
  font-size: 25px;
  color: white;
  align-items: center;

}
/*Table Section*/
.table{

    color: white;
    
    text-align: center;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    margin-bottom: 20px;


}
.table-data{

    font-size: 13px;
    color: #929191;


}
table{

    border-collapse: collapse;
}
table,th,td{

    border: 1px solid rgba(113, 113, 113, 0.503);
    padding: 10px 25px;

}
th{
    font-size: 15px;
}
.sec-04-div-01{

       display: flex;
       align-items: center;
       flex-direction: column;
       justify-content: center;
       color: white;

}
.input-editor{

    background-color:rgb(54, 54, 54);
   border-radius: 8px;
   border-style: none;
   padding: 10px 10px;
   margin: 10px 5px;

}
.input-editor-select{

    background-color:rgb(54, 54, 54);
   border-radius: 8px;
   border-style: none;
   padding: 10px 10px;
   margin: 10px 5px;
   width: 183px;
   color: #787777;

}
.input-editor-1{
    
    width: 23.7rem;
    background-color:rgb(54, 54, 54);
   border-radius: 8px;
   border-style: none;
   padding: 10px 10px;
   margin: 10px 5px;
   color: #787777;
   

}
.input-editor-2{
    
    width: 24rem;
    background-color:rgb(54, 54, 54);
   border-radius: 8px;
   border-style: none;
   padding: 10px 10px;
   margin: 10px 5px;
   

}
.btn-03{

    font-family: inherit;
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    border-style: none;
    border-radius: 30px;
    background-color: coral;
}
/*Team section*/
.head02{

    font-weight: 800;
    font-size: 30px;
    color: white;
    text-align: center;
}
.trainer{


    font-size: 16px;
    color: rgb(253, 250, 250);
   
}

.trainer-img{

    width: 326px;
    height: 272px;
    border-radius: 10px;
    margin-left: 24px;
    object-fit: cover;
}
.flex-container{

    display: flex;
    
}
.tainer-description{
 
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: -10px;
    margin-left: 10px;

}
.trainer-name{

    font-weight: 800;
    font-size: 16px;
    color: white;
    margin-left: 10px;
}
.position-index{
    position: relative;

}
.position-des{
   
     bottom: 70px;
     margin-left: 25px;
     margin-bottom: -50px;



}
.team-div{

        max-width: 1060px;
      
        background-color: #202020;
        border-radius: 10px;
        padding: 25px 20px 5px 10px;
        
        justify-content: space-evenly;
        margin: 0px auto 50px;

}
.section-05{


}

/*Footer Section*/

.footer-class{

    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid;
    border-color: #484848;
    max-width: 1150px;
    padding-bottom: 80px;
    margin: 0px auto;
    

}
.footer-bg{

    max-width: 1440px;
    background-color: #202020;

       
    display: flex;     
    flex-direction: column;
    
   
    
}


.footer-list{

   list-style: none;
   color: rgb(152, 152, 152);
   font-size: 15px;
  
   

}
.footer-list-items{

             margin-bottom: 10px;

}
.footer-text01{

    font-style: italic;
    font-size: 3.5rem;
    font-weight: bolder;
    color: rgba(230, 83, 60, 1);
}
.footer-div-01{

    margin-right: 300px;
}

.footer-div-02{
            

            
            
            font-size: 13px;
            color: rgb(152, 152, 152);
            margin: 3.125rem auto;
        
            

}
